html {
    font-size: 10px;
    font-family:placeholder:this should be the rest of the output you got from Google fonts;
    background-color: #00539F;
}
p {
    font-size: 76.6px;
    text-align: center;
    font-weight: bold;
    margin: 0 auto;
    padding: 0 0;
    color: #00539F;
    text-shadow: 3px 3px 1px #11334A;
}
#anniu1 {
    height: 76.6px;
    width: 109.4px;
    background: url("../剑灵有爱小分队图标.png");
    background-position: center;
    background-size: 100% 100%;
}
#anniu2 {
    margin: 0 auto;
    width: 109.4px;
}
body {
    width: 96.7%;
    height: 97.4%;
    margin: 0 auto;
    background-color: #FF9500;
    padding: 0 20px 20px 20px;
    border: 5px solid black;
    background: url('../images/beijingtu001.png');
    background-size: 100% 100%;
}
img {
    width: 600px;
    height: 960px;
    margin: auto;
}
#meitu {
    text-align: center;
    font-size: 0;
}
#meitu001 {
    opacity: 0.6;
}
#meitu001:hover {
    opacity: 1;
}
#meitu002 {
    opacity: 0.6;
}
#meitu002:hover {
    opacity: 1;
}
